$primaryColor: #d72c24;
$gorange: #F95700;
@import "header.scss";
@import "footer.scss";
@import "forms.scss";
@import "slideshow.scss";
.container-fluid{
  padding: 0px;
}
.chairman {
  border-bottom: 1px solid $primaryColor;
}
body{
  background-color: #f1f4f9;
}
.fa{
  color: $primaryColor;
}

.thumbnail{
  padding: 15px;
  border-radius: 0px;
  background-color: none;
  border: none;
  border-right: 1px solid #E7E7E7;
}
.thumb2{
  border-right: none;
}
.noPadding{
  padding: 0px;
}

.btnRed {
  border: none;
  background-color: $primaryColor;
  &:hover{
    background-color: $gorange;
  }
}

.underlined{
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid $primaryColor;
}

aside article {
  background-color: #fff;
  padding: 10px;
}

.glyphicon {
  font-size: 15px;
  margin-right: 5px;
  color: $primaryColor;
}

.badge {
  background-color: $primaryColor;
}

.placeholder100{
  height: 100px;
}
.placeholder150{
  height: 150px;
}
.placeholder50{
  height: 50px;
}

.project {
  height: 210px;
  padding: 28px;
  background-color: #fff;
}
.project .text {
  margin-left: 15px;
  height: 120px;
  overflow: hidden;
}

p.subdate {
  font-style: italic;
  color: #aaa;
  font-size: 11px;
}

.project img {
  width: 120px;
  height: 120px;
  float: left;
  margin-right: 15px;
}

.project h3 {
  margin-top: 0px;
}

.gheader header{
  color: #888;
  margin: 15px;
}

#project_by_id {
  background-color: #fff;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 40px;
}

#project_by_id article {
  padding: 30px;
}
#project_by_id article h3{
  margin-top: 0px;
}
