$primaryColor: #d72c24;
$gorange: #F95700;
@import "header.scss";
@import "footer.scss";
@import "forms.scss";
@import "slideshow.scss";
@import "project.scss";
.container-fluid{
  padding: 0px;
}
.chairman {
  border-bottom: 1px solid $primaryColor;
}
body{
  background-color: #f1f4f9;
}
.fa{
  color: $primaryColor;
}

.thumbnail{
  min-height: 400px;
  padding: 15px;
  border-radius: 0px;
  background-color: none;
  border: none;
  border-right: 1px solid #E7E7E7;
}
.thumb2{
  border-right: none;
}
.noPadding{
  padding: 0px;
}

.btnRed {
  border: none;
  background-color: $primaryColor;
  &:hover{
    background-color: $gorange;
  }
}

.underlined{
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid $primaryColor;
}

aside article {
  background-color: #fff;
  padding: 10px;
}

.glyphicon {
  font-size: 15px;
  margin-right: 5px;
  color: $primaryColor;
}

.badge {
  background-color: $primaryColor;
}

.placeholder100{
  height: 100px;
}
.placeholder150{
  height: 150px;
}
.placeholder50{
  height: 50px;
}

.gheader header{
  color: #888;
  margin: 15px;
}
.nav>li>a {
  padding: 10px 35px;
}
.nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 0px;
}

a:hover, a:focus {
  color: black;
  text-decoration: underline;
}
a {
  color: #333;
  text-decoration: none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  background-color: $primaryColor;
  color: #ffffff;
}